@font-face {
  font-family: Ubuntu;
  src: url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
}

body {
  background-color: #ffffff;

  height: 100%;
}

.page {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.page__block-wrapper {
  margin: 0px 20px 20px 0px;
}
.block-wrapper {
  position: relative;
  padding: 32px;
  border: 1px dashed #8055ff;
  box-sizing: border-box;
  border-radius: 5px;
}

.block-wrapper__title {
  position: absolute;
  background: #8055ff;
  color: #ffffff;
  margin: 0;
  top: 0;
  left: 0;
}

/* =================================================Стили для внешних отступв элементов========================================= */
.labelInput {
  margin-bottom: 8px;
}

.blockWrapperInputDate {
  margin-bottom: 50px;
}

.blockWrapperInputDate :last-child {
  margin-bottom: 0px;
}

.blockWrapperSearchbar {
  margin-bottom: 32px;
}
