.block-wrapper__input-date {
  margin-bottom: 50px;
}

.block-wrapper__input-date:last-child {
  margin-bottom: 0px;
}

.label-input {
  display: block;
  font-size: 13px;
  line-height: 16px;
}
.input-date__label-input {
  margin-bottom: 8px;
}

.input-date__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input-date__input {
  outline: none;

  width: 100%;
  height: 32px;
  box-sizing: border-box;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #459df5;
  padding: 4px 20px 4px 8px;
  font-size: 13px;
  line-height: 16px;
}

.input-date__input::placeholder {
  color: #bad8f5;
}
.input-date__input:focus {
  box-shadow: 0px 0px 0px 1px #459df5;
}

.input-date:last-child {
  margin-bottom: 0px;
}
.input-date__input_error::placeholder {
  color: #bad8f5;
}

.input-date__btn-clear {
  cursor: pointer;
  border: none;
  background: inherit;
  position: absolute;
  right: 5px;
}
.input-date__input_error {
  border: 1px solid #f53152;
}

.input-date__input_error:focus {
  box-shadow: 0px 0px 0px 1px #f53152;
}

.input-date__input_locked {
  background: #bad8f5;
  border: 1px solid #459df5;
  box-sizing: border-box;
  border-radius: 4px;
}

.input-date__icon-x {
  width: 9px;
  height: 9px;
  stroke: #bad8f5;
}
.input-date__icon-locked {
  width: 16px;
  height: 16px;
  fill: #000000;
  position: absolute;
  right: 10px;
}
