._ {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.vArrow {
  height: 16px;
  width: 16px;
  fill: #ebf0f5;
}
.check {
  min-width: 32px;
}
.num {
  min-width: 100px;
}
.other {
  flex: 1;
}
